
.page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .editor-container {
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            padding: 16px 18px;
            border: 1px solid grey;
            outline: none;
            background: none;
            color: white;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    p {
        margin: 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .editor {
        width: 600px;
        height: 400px;
    }

    .output-container {
        padding: 8px;
        border: 1px solid black;
        font-size: 18px;
    }
}